/*navbar css*/
.panel-navbar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.panel-navbar ul {
	list-style-type: none;
	text-align: center;
	/*margin: 0 auto;*/
	padding: 0px;
	display: table;
	overflow: hidden;
	width: 100%;
}

.panel-navbar li{
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	width: 19%;
	border: 1px solid #ddd;
}
