/*
 * navbar css
 */
.panel-navbar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.panel-navbar ul {
	list-style-type: none;
	text-align: center;
	/*margin: 0 auto;*/
	padding: 0px;
	display: table;
	overflow: hidden;
	width: 100%;
}

/*
 * width set to 20% for five items
 */
.panel-navbar li{
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
	border: 4px solid #000;
	background-color: #ddd;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border-radius: 3px;
}

.panel-navbar li:active, li:hover{
	border: 1px solid #ddd;
	background-color: #000;
	color: #ddd;
}

.nav-link {
	text-decoration: none;
	color: inherit;
}
